

body{
 background-image: url(fundo.jpg);
    
}#magica{
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width:1200px;
  background-color: rgba(255, 255, 255, 0.603);
  padding: 50px;
  border-radius: 50px;
  box-shadow: 2px -1px 3px rgba(0, 0, 0, 0.425);

}
h2{

  font: bolder 19pt arial;
  color: #02005F;
  text-align: center;
}
#menu{
  margin: 50px;
  border-radius: 30px;
  background-color: #02005F;
  text-align: center;
  color: white;
  font: normal 22pt arial;
  text-shadow: 1px 1px 1px black;
}
.sites{
  text-align: center;
}
a{
  color: #02005F;
  height: 100%;
  padding: 4px;
  margin-top: 20px;
  border-radius: 10px;
  text-align: center;
  font: bold 20pt arial;
  transition: 1s;
}
#bbaancario{
  background-color: #ffffff;
  border-radius: 30px;
    text-align: center;
    font: normal 20pt arial;
    opacity: 1;
    transition: s;
  }
.links{
  padding: 10px;
  text-align: center;
  font: normal 30pt arial;
  color:#02005F;
  background-color: #FAFE23;
  margin: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 3px  black;
  transition: 300ms;
}
.links:hover{
  background-color: #02005F;
  color: white;
}
.links:active{
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}